In [1]:
# Import dependencies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

### Extract the crowdfunding.xlsx Data

In [ ]:
# Read the data into a Pandas DataFrame
crowdfunding_info_df = pd.read_excel('../Resources/crowdfunding.xlsx')
crowdfunding_info_df.head()

In [ ]:
# Get a brief summary of the crowdfunding_info DataFrame.
crowdfunding_info_df.info()

### Create the Category and Subcategory DataFrames
---
**Create a Category DataFrame that has the following columns:**
- A "category_id" column that is numbered sequential form 1 to the length of the number of unique categories.
- A "category" column that has only the categories.

Export the DataFrame as a `category.csv` CSV file.

**Create a SubCategory DataFrame that has the following columns:**
- A "subcategory_id" column that is numbered sequential form 1 to the length of the number of unique subcategories.
- A "subcategory" column that has only the subcategories. 

Export the DataFrame as a `subcategory.csv` CSV file.

In [ ]:
# Get the crowdfunding_info_df columns.
crowdfunding_info_df.columns

In [ ]:
# Assign the category and subcategory values to category and subcategory columns.
crowdfunding_info_df[['category', 'subcategory']] = crowdfunding_info_df['category & sub-category'].str.split('/', n=1, expand=True)
crowdfunding_info_df

In [ ]:
# Get the unique categories and subcategories in separate lists.
categories = list(crowdfunding_info_df['category'].unique())
subcategories = list(crowdfunding_info_df['subcategory'].unique())
print(categories)
print(subcategories)

In [ ]:
# Get the number of distinct values in the categories and subcategories lists.
print(len(categories))
print(len(subcategories))

In [ ]:
# Create numpy arrays from 1-9 for the categories and 1-24 for the subcategories.
category_ids = np.arange(1, 10)
subcategory_ids = np.arange(1, 25)

print(category_ids)
print(subcategory_ids)

In [ ]:
# Use a list comprehension to add "cat" to each category_id. 
cat_ids = ['cat'+ str(x) for x in category_ids]
# Use a list comprehension to add "subcat" to each subcategory_id.    
scat_ids = ['subcat' + str(x) for x in subcategory_ids]
    
print(cat_ids)
print(scat_ids)

In [ ]:
# Create a category DataFrame with the category_id array as the category_id and categories list as the category name.
category_df = pd.DataFrame({
    'category_id':cat_ids,
    'category':categories
})
# Create a category DataFrame with the subcategory_id array as the subcategory_id and subcategories list as the subcategory name. 
subcategory_df = pd.DataFrame({
    'subcategory_id':scat_ids,
    'subcategory':subcategories
})

In [ ]:
category_df

In [ ]:
subcategory_df

In [ ]:
# Export categories_df and subcategories_df as CSV files.
category_df.to_csv("../Output/category.csv", index=False)

subcategory_df.to_csv("../Output/subcategory.csv", index=False)

### Campaign DataFrame
----
**Create a Campaign DataFrame that has the following columns:**
- The "cf_id" column.
- The "contact_id" column.
- The “company_name” column.
- The "blurb" column is renamed as "description."
- The "goal" column.
- The "goal" column is converted to a `float` datatype.
- The "pledged" column is converted to a `float` datatype. 
- The "backers_count" column. 
- The "country" column.
- The "currency" column.
- The "launched_at" column is renamed as "launch_date" and converted to a datetime format. 
- The "deadline" column is renamed as "end_date" and converted to a datetime format.
- The "category_id" with the unique number matching the “category_id” from the category DataFrame. 
- The "subcategory_id" with the unique number matching the “subcategory_id” from the subcategory DataFrame.
- And, create a column that contains the unique four-digit contact ID number from the `contact.xlsx` file.
 

Then export the DataFrame as a `campaign.csv` CSV file.

In [ ]:
# Create a copy of the crowdfunding_info_df DataFrame name campaign_df. 
campaign_df = crowdfunding_info_df.copy()
campaign_df.head()

In [ ]:
# Rename the blurb, launched_at, and deadline columns.
rndf = campaign_df.rename(columns={'blurb':'description', 'launched_at':'launch_date', 'deadline':'end_date'})
rndf.head()

In [ ]:
# Convert the goal and pledged columns to a `float` data type.
rndf['goal'] = rndf['goal'].astype('float')
rndf['pledged'] = rndf['pledged'].astype('float')
rndf.head()

In [ ]:
# Check the datatypes
rndf.dtypes

In [ ]:
# Format the launched_date and end_date columns to datetime format
from datetime import datetime as dt
rndf['launch_date'] = pd.to_datetime(rndf['launch_date'], unit='s').dt.strftime('%Y-%m-%d')
rndf['end_date'] = pd.to_datetime(rndf['end_date'], unit='s').dt.strftime('%Y-%m-%d')
rndf.head()

In [ ]:
# Merge the campaign_df with the category_df on the "category" column and 
# the subcategory_df on the "subcategory" column.
campaign_merged_df = pd.merge(rndf, category_df, on='category', how='left').merge(subcategory_df, on='subcategory', how='left')
campaign_merged_df.tail(10)

In [ ]:
# Drop unwanted columns
campaign_cleaned = campaign_merged_df.drop(['category & sub-category', 'category', 'subcategory', 'staff_pick', 'spotlight'], axis=1)
campaign_cleaned.head()

In [ ]:
# Export the DataFrame as a CSV file. 
campaign_cleaned.to_csv("../Output/campaign.csv", index=False)

### Extract the contacts.xlsx Data.

In [3]:
# Read the data into a Pandas DataFrame. Use the `header=2` parameter when reading in the data.
contact_info_df = pd.read_excel('../Resources/contacts.xlsx', header=2)
contact_info_df.head()

0                                                                               contact_info
1   {"contact_id": 4661, "name": "Cecilia Velasco", "email": "cecilia.velasco@rodrigues.fr"}
2          {"contact_id": 3765, "name": "Mariana Ellis", "email": "mariana.ellis@rossi.org"}
3            {"contact_id": 4187, "name": "Sofie Woods", "email": "sofie.woods@riviere.com"}
4  {"contact_id": 4941, "name": "Jeanette Iannotti", "email": "jeanette.iannotti@yahoo.com"}

### Create the Contacts DataFrame 
---
**Create a Contacts DataFrame that has the following columns:**
- A column named "contact_id"  that contains the unique number of the contact person.
- A column named "first_name" that contains the first name of the contact person.
- A column named "last_name" that contains the first name of the contact person.
- A column named "email" that contains the email address of the contact person

Then export the DataFrame as a `contacts.csv` CSV file.

### Option 1: Use Pandas to create the contacts DataFrame.

In [4]:
# Iterate through the contact_info_df and convert each row to a dictionary.
import json
dict_values = []

for i, row in contact_info_df.iterrows():

    # skip top "title" row
    if i > 0:

        # convert string to dictionary
        info = json.loads(row[0])

        # save keys & values to variables
        keys = [k for k in info.keys()]
        val = [v for v in info.values()]

        # convert to python dictionary & append to our list
        dict_values.append({
            keys[0]:val[0],
            keys[1]:val[1],
            keys[2]:val[2]
        })

# Print out the list of values for each row.
print(dict_values[:20])

[{'contact_id': 4661, 'name': 'Cecilia Velasco', 'email': 'cecilia.velasco@rodrigues.fr'}, {'contact_id': 3765, 'name': 'Mariana Ellis', 'email': 'mariana.ellis@rossi.org'}, {'contact_id': 4187, 'name': 'Sofie Woods', 'email': 'sofie.woods@riviere.com'}, {'contact_id': 4941, 'name': 'Jeanette Iannotti', 'email': 'jeanette.iannotti@yahoo.com'}, {'contact_id': 2199, 'name': 'Samuel Sorgatz', 'email': 'samuel.sorgatz@gmail.com'}, {'contact_id': 5650, 'name': 'Socorro Luna', 'email': 'socorro.luna@hotmail.com'}, {'contact_id': 5889, 'name': 'Carolina Murray', 'email': 'carolina.murray@knight.com'}, {'contact_id': 4842, 'name': 'Kayla Moon', 'email': 'kayla.moon@yahoo.de'}, {'contact_id': 3280, 'name': 'Ariadna Geisel', 'email': 'ariadna.geisel@rangel.com'}, {'contact_id': 5468, 'name': 'Danielle Ladeck', 'email': 'danielle.ladeck@scalfaro.net'}, {'contact_id': 3064, 'name': 'Tatiana Thompson', 'email': 'tatiana.thompson@hunt.net'}, {'contact_id': 4904, 'name': 'Caleb Benavides', 'email': 'caleb.benavides@rubio.com'}, {'contact_id': 1299, 'name': 'Sandra Hardy', 'email': 'sandra.hardy@web.de'}, {'contact_id': 5602, 'name': 'Lotti Morris', 'email': 'lotti.morris@yahoo.co.uk'}, {'contact_id': 5753, 'name': 'Reinhilde White', 'email': 'reinhilde.white@voila.fr'}, {'contact_id': 4495, 'name': 'Kerry Patel', 'email': 'kerry.patel@hutchinson.com'}, {'contact_id': 4269, 'name': 'Sophie Antoine', 'email': 'sophie.antoine@andersen.com'}, {'contact_id': 2226, 'name': 'Martha Girard', 'email': 'martha.girard@web.de'}, {'contact_id': 1558, 'name': 'Stephanie King', 'email': 'stephanie.king@cervantes.com'}, {'contact_id': 2307, 'name': 'Amanda Palmer', 'email': 'amanda.palmer@didier.fr'}]

In [5]:
# Create a contact_info DataFrame and add each list of values, i.e., each row 
# to the 'contact_id', 'name', 'email' columns.
contacts_df = pd.DataFrame(dict_values)
contacts_df.head(10)

   contact_id               name                         email
0        4661    Cecilia Velasco  cecilia.velasco@rodrigues.fr
1        3765      Mariana Ellis       mariana.ellis@rossi.org
2        4187        Sofie Woods       sofie.woods@riviere.com
3        4941  Jeanette Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel Sorgatz      samuel.sorgatz@gmail.com
5        5650       Socorro Luna      socorro.luna@hotmail.com
6        5889    Carolina Murray    carolina.murray@knight.com
7        4842         Kayla Moon           kayla.moon@yahoo.de
8        3280     Ariadna Geisel     ariadna.geisel@rangel.com
9        5468    Danielle Ladeck  danielle.ladeck@scalfaro.net

In [6]:
# Check the datatypes.
contacts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   name        1000 non-null   object
 2   email       1000 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.6+ KB

In [7]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contacts_df[['first_name', 'last_name']] = contacts_df['name'].str.split(' ', n=1, expand=True)

# Drop the contact_name column
contacts = contacts_df.drop('name', axis=1)
contacts.head(10)

   contact_id                         email first_name last_name
0        4661  cecilia.velasco@rodrigues.fr    Cecilia   Velasco
1        3765       mariana.ellis@rossi.org    Mariana     Ellis
2        4187       sofie.woods@riviere.com      Sofie     Woods
3        4941   jeanette.iannotti@yahoo.com   Jeanette  Iannotti
4        2199      samuel.sorgatz@gmail.com     Samuel   Sorgatz
5        5650      socorro.luna@hotmail.com    Socorro      Luna
6        5889    carolina.murray@knight.com   Carolina    Murray
7        4842           kayla.moon@yahoo.de      Kayla      Moon
8        3280     ariadna.geisel@rangel.com    Ariadna    Geisel
9        5468  danielle.ladeck@scalfaro.net   Danielle    Ladeck

In [8]:
# Reorder the columns
contacts_df_clean = contacts[['contact_id', 'first_name', 'last_name', 'email']]
contacts_df_clean.head(10)

   contact_id first_name last_name                         email
0        4661    Cecilia   Velasco  cecilia.velasco@rodrigues.fr
1        3765    Mariana     Ellis       mariana.ellis@rossi.org
2        4187      Sofie     Woods       sofie.woods@riviere.com
3        4941   Jeanette  Iannotti   jeanette.iannotti@yahoo.com
4        2199     Samuel   Sorgatz      samuel.sorgatz@gmail.com
5        5650    Socorro      Luna      socorro.luna@hotmail.com
6        5889   Carolina    Murray    carolina.murray@knight.com
7        4842      Kayla      Moon           kayla.moon@yahoo.de
8        3280    Ariadna    Geisel     ariadna.geisel@rangel.com
9        5468   Danielle    Ladeck  danielle.ladeck@scalfaro.net

In [9]:
# Check the datatypes one more time before exporting as CSV file.
contacts_df_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   contact_id  1000 non-null   int64
 1   first_name  1000 non-null   object
 2   last_name   1000 non-null   object
 3   email       1000 non-null   object
dtypes: int64(1), object(3)
memory usage: 31.4+ KB

In [10]:
# Export the DataFrame as a CSV file. 
contacts_df_clean.to_csv("../Output/contacts.csv", encoding='utf8', index=False)

### Option 2: Use regex to create the contacts DataFrame.

In [ ]:
contact_info_df_copy = contact_info_df.copy()
contact_info_df_copy = contact_info_df_copy.iloc[1:].reset_index(drop=True)
contact_info_df_copy.columns = ['contact_info']
contact_info_df_copy.head()

In [ ]:
# Extract the four-digit contact ID number.
import re
values = contact_info_df_copy.values.tolist()

contact_info_df_copy['contact_id'] = [(re.findall('\d+', val[0]))[0] for val in values]
contact_info_df_copy.head()

In [ ]:
# Check the datatypes.
contact_info_df_copy.info()

In [ ]:
# Convert the "contact_id" column to an int64 data type.
contact_info_df_copy['contact_id'] = pd.to_numeric(contact_info_df_copy['contact_id'])
contact_info_df_copy.info()

In [ ]:
# Extract the name of the contact and add it to a new column.
contact_info_df_copy['name'] = [(re.findall('[A-Za-z]+\s[A-Za-z]+', val[0]))[0] for val in values]
contact_info_df_copy.head(10)

In [ ]:
# Extract the email from the contacts and add the values to a new column.
contact_info_df_copy['email'] = [(re.findall('[a-z0-9]+\.\S+@\S+\.[a-z]+', val[0]))[0] for val in values]
contact_info_df_copy.head()

In [ ]:
# Create a copy of the contact_info_df with the 'contact_id', 'name', 'email' columns.
contacts_df1 = contact_info_df_copy[['contact_id', 'name', 'email']]
contacts_df1.head(10)

In [ ]:
# Create a "first"name" and "last_name" column with the first and last names from the "name" column. 
contacts_df1[['first_name', 'last_name']] = contacts_df1['name'].str.split(' ', n=1, expand=True)

# Drop the contact_name column
contacts_clean = contacts_df1.drop('name', axis=1)
contacts_clean.head(10)

In [ ]:
# Reorder the columns
contacts_df_clean2 = contacts_clean[['contact_id', 'first_name', 'last_name', 'email']]
contacts_df_clean2.head(10)

In [ ]:
# Check the datatypes one more time before exporting as CSV file.
contacts_df_clean2.info()

In [ ]:
# Export the DataFrame as a CSV file. 
contacts_df_clean2.to_csv("../Output/opt_contacts2.csv", encoding='utf8', index=False)